:root {
	--color-primary: 200, 16, 46;
	--color-primary--interact: 176, 6, 34;

	--color-secondary: 112, 112, 112;
	--color-secondary--interact: 97, 97, 97;
}

@font-face {
	font-family: "Titillium";
	src: url(/fonts/TitilliumWeb-Regular.eot?a366c3fdacb05d6e0e4f1a997d4b3875);
	src: url(/fonts/TitilliumWeb-Regular.eot?a366c3fdacb05d6e0e4f1a997d4b3875?#iefix)
			format("embedded-opentype"),
		url(/fonts/TitilliumWeb-Regular.woff2?d573e111159be8f567a0a66270beb91f) format("woff2"),
		url(/fonts/TitilliumWeb-Regular.woff?508743059dd24ceb29cec2b1450146f6) format("woff"),
		url(/fonts/TitilliumWeb-Regular.ttf?5a56dd5d88491800466e5ebcdd58533d) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url(/fonts/TitilliumWeb-Bold.eot?6700c3b92f38136b1b93746517e45f17);
	src: url(/fonts/TitilliumWeb-Bold.eot?6700c3b92f38136b1b93746517e45f17?#iefix)
			format("embedded-opentype"),
		url(/fonts/TitilliumWeb-Bold.woff2?0620eaa08488eaf1e6a28bdc892dec99) format("woff2"),
		url(/fonts/TitilliumWeb-Bold.woff?197c32d961744ba91a393c5bbf98f177) format("woff"),
		url(/fonts/TitilliumWeb-Bold.ttf?3c1e9c9a696a06fcc231be4892b3d3cd) format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url(/fonts/TitilliumWeb-Italic.eot?5aa6336e2ef473c61d5550229045cdb3);
	src: url(/fonts/TitilliumWeb-Italic.eot?5aa6336e2ef473c61d5550229045cdb3?#iefix)
			format("embedded-opentype"),
		url(/fonts/TitilliumWeb-Italic.woff2?c18436b74a788a7a24888910bb89891b) format("woff2"),
		url(/fonts/TitilliumWeb-Italic.woff?aa26c505eae721efb35667316900940d) format("woff"),
		url(/fonts/TitilliumWeb-Italic.ttf?49ce1043ead9f1d020a90121c763d721) format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url(/fonts/TitilliumWeb-SemiBold.eot?3d33ffd4a51f09a7967d0fe0c2a37de6);
	src: url(/fonts/TitilliumWeb-SemiBold.eot?3d33ffd4a51f09a7967d0fe0c2a37de6?#iefix)
			format("embedded-opentype"),
		url(/fonts/TitilliumWeb-SemiBold.woff2?a07c5555fde3e1a2abfb4e39235f0d34) format("woff2"),
		url(/fonts/TitilliumWeb-SemiBold.woff?a994994c408bf0f2fbaaea983d381305) format("woff"),
		url(/fonts/TitilliumWeb-SemiBold.ttf?3f8acd815af90f43110576f24ac8e9ec) format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url(/fonts/TitilliumWeb-SemiBoldItalic.eot?4fc3a1ebce224d7e09d4fd05f6b8d053);
	src: url(/fonts/TitilliumWeb-SemiBoldItalic.eot?4fc3a1ebce224d7e09d4fd05f6b8d053?#iefix)
			format("embedded-opentype"),
		url(/fonts/TitilliumWeb-SemiBoldItalic.woff2?3e0f36914eec3957fbc86c29c915c4f3) format("woff2"),
		url(/fonts/TitilliumWeb-SemiBoldItalic.woff?9a6b9a87fcaf6b139a1a1e95ca43d5db) format("woff"),
		url(/fonts/TitilliumWeb-SemiBoldItalic.ttf?b42b3931eb97177fe79345354ff2d55d) format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/*Splide arousel frontend*/
.splide__slide, .splide {
    height: 350px !important;
}

@media (min-width: 480px) {
    .splide__slide, .splide {
        height: 470px !important;
    }
}

@media (min-width: 640px) {
    .splide__slide, .splide {
        height: 570px !important;
    }
}

.splide__pagination__page.is-active {
    background-color: rgb(200,16,16) !important;
}

/*Product detail image*/
.h-image {
    height: 350px;
}

@media (min-width: 768px) {
    .h-image {
        height: 550px;
    }
}

.splide__pagination {
    bottom: -8.5em !important;
}

.splide__pagination li {
    padding: 8px !important;
}

