@import 'tailwindcss/base';
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --color-primary: 200,16,46;
    --color-primary--interact: 176,6,34;

    --color-secondary: 112,112,112;
    --color-secondary--interact: 97,97,97;
}

[x-cloak] { display: none; }

body, table, h1, h2, h3, h4, h5, h6, p, label, input {
    @apply text-secondary;
}

/* Basic scaffolding */
h1 { @apply text-2xl font-bold; }
h2 { @apply text-xl font-semibold; }
h3 { @apply text-lg font-medium; }
h4 { @apply text-lg font-normal; }
h5 { @apply text-base font-light; }
h6 { @apply text-base font-extralight; }

table {
    @apply w-full bg-white shadow-sm sm:rounded-lg sm:rounded-br-lg sm:rounded-bl-lg;
}

thead th {
    @apply bg-gray-50 px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase;
}

thead th:first-child {
    @apply sm:rounded-tl-lg bg-gray-50 px-4 py-3 tracking-wider uppercase;
}

thead th:last-child {
    @apply sm:rounded-tr-lg bg-gray-50 px-4 py-3 tracking-wider uppercase;
}

tbody tr {
    @apply transition-all;
}

tbody tr:hover {
    @apply bg-gray-100 shadow;
}

tbody td {
    @apply text-left p-4 border-b border-gray-200;
}

.table--striped tbody tr:nth-child(even) {
    @apply bg-gray-50;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox {
    @apply border-gray-300 ring-gray-300;
}
.toggle-checkbox:checked {
    /*@apply right-0 border-green-400 bg-white;*/
    @apply right-0 border-primary bg-white;
    right: 0;
}

.toggle-checkbox:checked + .toggle-label {
    /*@apply bg-green-400;*/
    @apply bg-primary;
}

.toggle-checkbox:focus, .toggle-checkbox:checked, .toggle-checkbox:checked:hover, .toggle-checkbox:checked:focus {
    outline: none;
    box-shadow: none;
    background-image: none;
    background-color: white;
}
.toggle-checkbox:focus {
    @apply border-gray-300;
}
.toggle-checkbox:checked:focus, .toggle-checkbox:checked:hover {
    @apply border-primary;
}

.toggle-checkbox:focus + .toggle-label {
    @apply border-indigo-300 ring ring-indigo-200 ring-opacity-50;
}


    /* BUTTONS */

.btn
{
    @apply inline-block px-6 py-2 text-xs font-medium leading-6 text-center uppercase rounded shadow transition hover:shadow-lg focus:outline-none;
}

.btn--icon-only svg {
    @apply w-5 h-5 text-white inline-block;
}
.btn--icon {
    @apply inline-flex items-center;
}
.btn--icon svg {
    @apply w-5 h-5 text-white inline-block mr-2 -ml-3;
}
.btn--small {
    padding: 0.2em 1em !important;
}
.btn--small svg {
    width: 1rem !important;
}

.btn--dark {
    @apply  text-white bg-black  hover:bg-black;
}
.btn--link {
    @apply  text-blue-700 underline bg-transparent shadow-none hover:text-blue-900 hover:bg-gray-50 hover:shadow-none;
}
.btn--minilink {
    @apply text-secondary text-sm bg-transparent shadow-none hover:underline hover:bg-gray-50 hover:shadow-none;
}
.btn--minilink svg {
    @apply w-3 h-3 text-secondary inline-block mr-2 -ml-3;
}

.btn--light {
    @apply  text-black bg-gray-100 hover:bg-gray-200;
}
.hover-danger {
    @apply hover:bg-red-600 hover:text-white;
}
/* HACK... check stroke-current / fill-current */
.hover-danger:hover svg {
    @apply text-white;
}
.btn--light svg {
    @apply text-black;
}
.btn--primary {
    @apply  text-white bg-primary  hover:bg-primary-interact;
}
.btn--secondary {
    @apply  text-white bg-secondary  hover:bg-secondary-interact;
}
.btn--success {
    @apply  text-white bg-red-500  hover:bg-red-600;
}
.btn--danger {
    @apply text-white bg-red-500  hover:bg-red-600
}
.btn--warning {
    @apply  text-white bg-yellow-500  hover:bg-yellow-600
}
.btn--info {
    @apply  text-white bg-indigo-500  hover:bg-indigo-600;
}

.invalid-feedback {
    @apply rounded-lg bg-red-50 text-red-800 p-2 text-sm my-2;
}

.tw-form-input {
    /* This code is take from the tailwindcss-forms base template for input fields */

}

.border-line::after {
    content: '';
    @apply block w-16 h-0 border-b-2 border-primary my-3;
}

.no-arrow-select {
    background-image: none;

    padding-right: 0.75rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.-m-t-2px {
    margin-top: -2px !important;
}

/*Responsive table*/
@media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    /*thead th:last-child, thead th:first-child {
        text-align: center;
    }*/

    thead tr:not(:first-child) {
      display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

.h-screen-50 {
    height: 50vh !important;
}

p-20 {   
    padding-left: 5rem;
    padding-right: 5rem;
}

pt-20 {   
    padding-top: 5rem;
}

pb-20 {   
    padding-bottom: 5rem;
}