:root {
	--color-primary: 200, 16, 46;
	--color-primary--interact: 176, 6, 34;

	--color-secondary: 112, 112, 112;
	--color-secondary--interact: 97, 97, 97;
}

@font-face {
	font-family: "Titillium";
	src: url("./fonts/TitilliumWeb-Regular.eot");
	src: url("./fonts/TitilliumWeb-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/TitilliumWeb-Regular.woff2") format("woff2"),
		url("./fonts/TitilliumWeb-Regular.woff") format("woff"),
		url("./fonts/TitilliumWeb-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url("./fonts/TitilliumWeb-Bold.eot");
	src: url("./fonts/TitilliumWeb-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/TitilliumWeb-Bold.woff2") format("woff2"),
		url("./fonts/TitilliumWeb-Bold.woff") format("woff"),
		url("./fonts/TitilliumWeb-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url("./fonts/TitilliumWeb-Italic.eot");
	src: url("./fonts/TitilliumWeb-Italic.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/TitilliumWeb-Italic.woff2") format("woff2"),
		url("./fonts/TitilliumWeb-Italic.woff") format("woff"),
		url("./fonts/TitilliumWeb-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url("./fonts/TitilliumWeb-SemiBold.eot");
	src: url("./fonts/TitilliumWeb-SemiBold.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
		url("./fonts/TitilliumWeb-SemiBold.woff") format("woff"),
		url("./fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url("./fonts/TitilliumWeb-SemiBoldItalic.eot");
	src: url("./fonts/TitilliumWeb-SemiBoldItalic.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/TitilliumWeb-SemiBoldItalic.woff2") format("woff2"),
		url("./fonts/TitilliumWeb-SemiBoldItalic.woff") format("woff"),
		url("./fonts/TitilliumWeb-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/*Splide arousel frontend*/
.splide__slide, .splide {
    height: 350px !important;
}

@media (min-width: 480px) {
    .splide__slide, .splide {
        height: 470px !important;
    }
}

@media (min-width: 640px) {
    .splide__slide, .splide {
        height: 570px !important;
    }
}

.splide__pagination__page.is-active {
    background-color: rgb(200,16,16) !important;
}

/*Product detail image*/
.h-image {
    height: 350px;
}

@media (min-width: 768px) {
    .h-image {
        height: 550px;
    }
}

.splide__pagination {
    bottom: -8.5em !important;
}

.splide__pagination li {
    padding: 8px !important;
}
